[Unit]
Description = who-is-in server

[Service]
WorkingDirectory=/home/hkim/who-is-in
ExecStart=/usr/bin/ruby who-is-in.rb --headless
Restart=always
TimeoutSec=300
Type=simple
User=hkim

[Install]
WantedBy=multi-user.target
