[Unit]
Description = service who-is-in at 3001/tcp

[Service]
Type=simple
User=hkim
WorkingDirectory=/srv/who-is-in
ExecStart=/usr/bin/ruby webrick.rb
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target
